# Ignora archivos de configuración locales
.env
*.iml
.idea/
*.log

# Ignora dependencias locales
#.mvn/
.settings/

# Ignora control de versiones
.git/
.gitignore
docker-compose.override.yml

# Ignora archivos temporales
*.swp
*~